

.shopping{
    color:#4ba271 !important;
} 
.menu {
    background-color:#353a40 ;
    color:red;
}

.navbar-nav{
    width: 100%;
}
.special{
background-color:#353a40;
color:white;
height:50px;
}
.fa-times{
    color:red;
    cursor: pointer;
}
.others{background-color:white;
    height:200px;

}
.fa-plus{
    color:white;
    background-color:green; 
    border-radius: 50% ;
    cursor: pointer;
    padding: 3px;

}
.buttons{
    background-color:green; 
    border-radius: 50% ;
    cursor: pointer; 
    border:transparent;
}
.color-heart{
    color:red;
}
.fa-heart{
    cursor: pointer;
}

.fa-minus{
    color:white;
    background-color:green; 
    border-radius: 50% ;
    cursor: pointer;
    padding: 3px;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;;
}
.container{
   margin-top: 50px; 
 background-color:#dbdbdb;
}
.others{
    margin-bottom: 5px;;
}
body{ background-color:black;

}
.quantity{
   text-align: center;
    width: 30%;
    border:none;
}